*{
	padding: 0;
	margin: 0;
	box-sizing:border-box;
  font-family: 'Poppins', sans-serif;
}
h1{
    background-color:white;
    border-radius: 80%;
    height: 80px;
    width: 80px;
    position: absolute;
    top: 20px;
    left: 20px;
    font-size:50px; 
    align-items:center;
    display:flex;
}
header{
    font-size:2em;
    height:100px;
    padding:0.1em;
    overflow:hidden;
    position:relative;
   text-align:center;
   text-transform:uppercase;
   letter-spacing:2.5px;
   background-position:center center;
}
body{
  position: relative;
}
.hero{
  height: 50vh;
  width: 25%;
  background: white;
}

fieldset{
  
    width: 450px;
    height: 250px;
    border: 1px
 }
 .main-header-titles{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 2%;
    padding-left: 2%;
    
  }

nav ul{
    flex: 1;
    text-align: right;
  }

  nav ul li{
    list-style: none;
    display: inline-table;
    padding: 0px 25px;
  }

  nav ul li a{
    color: #262728;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
  }
  nav ul li a:hover{
    color: #00bf9f;
    transition: .3s;
  }
 .content{
    position: absolute;
    top: 50%;
    left: 46%;
    transform: translateY(-50%);
  }
 .content p{
    font-size: 14px;
    color: #585858;
    line-height: 28px;
    margin-bottom: 30px;
    float:left;
  } 
  input[type=text], select, textarea {
    width: 100%; 
    padding: 12px;  
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    resize: vertical 
  }
  .btn{
    background: transparent;
    border: 2px solid #262728;
    padding: 12px 25px;
    color: #262728;
    border-radius: 30px;
    text-decoration: none;
    margin-left: 80px;
    font-size: 14px;
    font-weight: bold;
  }
  .bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 45%;
    height: 50%;
    overflow: hidden;
  }
  .btn:hover{
    background:#262728;
    color: white;
    transition: .3s;
  }
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

  }
  
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  .logo{
    color: #262728;
    font-size: 25px;
    letter-spacing: 1px;
    cursor: pointer;
  }
 
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  label{
    padding:12px 12px 12px 0;
    display:inline-block;
  }
  aside{
    width:25%;
    display:block;
    float:right;
    border-style:solid;
  }
  